body {
    background-image: url("../images/PaintSquares.jpg");
    background-attachment: fixed; 

}
.header {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 40px;
    border-bottom: 2px dotted white;
    background-color: rgba(255, 255, 255, 0.37);
}

.container {
    height: 100%;
    width: 100%;

}

.buttons {
    height: auto;
    text-align: center;
}

.giphys {
    height: 100%;
    width: 100%;
}

.search {
    background-color: rgba(255, 255, 255, 0.877);
    height: 100%;
    border-radius: 20px;
}
.choices {
    margin: 5px;
    background: radial-gradient(purple, rgb(224, 129, 224));
}

#submit {
    background: radial-gradient(purple, rgb(224, 129, 224));
}

.images {
    max-height: 300px;
    max-width: 300px;
}

.giphyBox {
    margin: 10px;
    text-align: center;
}

.images:hover {
    cursor: pointer;
}

.rating {
    font-size: 30px;
    font-weight: bold;
    display: block;
}

.instructions {
    color: white;
    font-size: 30px;
    text-align: center;
    background: rgba(0, 0, 0, 0.459);
    padding: 10px;
    margin-top: 15px;
    border-radius: 20px;
}

#giph-instructions {
	position: relative;
    border-radius: 4em;
    font-size: 12px;
    font-weight: bold;
    background:white;
    color:rgb(0, 153, 255);
    width: 130px;
}

#giph-instructions:after {
	content: '';
	position: absolute;
	left: 0;
	top: 47%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-right-color: white;
	border-left: 0;
	border-top: 0;
	margin-top: -10px;
	margin-left: -19px;
}

#think-bubble {
    width: auto;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 280px;
    padding-right: 520px;
}

.blink {
    opacity: .3;
}