body {
    background-image: url("../images/PaintSquares.jpg");
    background-attachment: fixed; 

}

.container {
    height: 100%;
    width: 100%;

}

.buttons {
    height: auto;
    text-align: center;
}

.giphys {
    height: 100%;
    width: 100%;
}

.search {
    background-color: rgba(255, 255, 255, 0.877);
    height: 100%;
    border-radius: 20px;
}
.choices {
    margin: 5px;
    background: radial-gradient(purple, rgb(224, 129, 224));
}

#submit {
    background: radial-gradient(purple, rgb(224, 129, 224));
}

.images {
    max-height: 300px;
    max-width: 300px;
}

.giphyBox {
    margin: 10px;
    text-align: center;
}

.images:hover {
    cursor: pointer;
}

.rating {
    font-size: 30px;
    font-weight: bold;
    display: block;
}